<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/home.css">
    <title>Home</title>
</head>
<body>
    <!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="d-lg-block sidebar collapse bg-dark">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <img class="logo" src="../images/logo-sito.png">
        <br><br><br>
        <a href="" class="list-group-item list-group-item-action py-2 ripple bg-dark text-white active" aria-current="true">
          <i class="fas fa-fw me-3"></i><span>Io</span>
        </a>
        <a href="/portfolio" class="list-group-item list-group-item-action py-2 ripple bg-dark text-white">
          <i class="fas me-3"></i><span>Portfolio</span>
        </a>
        <a href="/contact" class="list-group-item list-group-item-action py-2 ripple bg-dark text-white"><i
            class="fas me-3"></i><span>I miei contatti</span>
          </a>
        <a href="/docs" class="list-group-item list-group-item-action py-2 ripple bg-dark text-white last-item"><i
            class="fas me-3"></i><span>Docs</span>
          </a>
        <a href="#" class="bg-dark">
          </a>
        <br><br><br><br><br><br>
        <a href="/privacy" class="list-group-item list-group-item-action py-2 ripple bg-dark text-white last-item"><i
            class="fas me-3"></i><span>Privacy</span>
        </a>
        <a href="#" class="bg-dark">
        </a>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->
</header>
<!--Main Navigation-->
<!--Main layout-->
<main style="margin-top: 58px;">
  <div class="container pt-4">
    <h1><b>Alessandro Ré</b></h1>
    <h4>Aspirante Backend Developer</h4>
    <br><br>
    <p>Sono un ragazzo di <%= anni %> anni, appassionato di programmazione.</p>
    <p>Il sito è fatto completamente in NodeJS</p>
    <br><br><br><br>
    <h4 class="mt-4">Le mie competenze (livello accademico):</h4>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Principiante</th>
          <th scope="col">Intermedio</th>
          <th scope="col">Avanzato</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
            <td><%= competenze %></td>
            <td>Javascript</td>
            <td>C#</td>
          </tr>
        <tr>
          <th scope="row"></th>
          <td>HTML</td>
          <td>NodeJS</td>
          <td>Windows Forms</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>CSS</td>
          <td></td>
          <td>Docker</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</main>
<!--Main layout-->
    <script src="../node_modules/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>