<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../images/logo-sito.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/home.css">
    <title>Home</title>
</head>
<body>
    <!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="d-lg-block sidebar collapse bg-dark">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a href="/home"><img class="logo" src="../images/logo-sito.png"></a>
        <br><br><br>
        <a href="" class="list-group-item list-group-item-action py-2 ripple bg-dark text-white active" aria-current="true">
          <i class="fas fa-fw me-3"></i><span>Io</span>
        </a>
        <a href="/portfolio" class="list-group-item list-group-item-action py-2 ripple bg-dark text-white">
          <i class="fas me-3"></i><span>Portfolio</span>
        </a>
        <a href="/contact" class="list-group-item list-group-item-action py-2 ripple bg-dark text-white"><i
            class="fas me-3"></i><span>I miei contatti</span>
          </a>
        <a href="/docs" class="list-group-item list-group-item-action py-2 ripple bg-dark text-white last-item"><i
            class="fas me-3"></i><span>Docs</span>
          </a>
        <a href="#" class="bg-dark">
          </a>
        <br><br><br><br><br><br>
        <a href="/privacy" class="list-group-item list-group-item-action py-2 ripple bg-dark text-white last-item"><i
            class="fas me-3"></i><span>Privacy</span>
        </a>
        <a href="#" class="bg-dark">
        </a>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->
</header>
<!--Main Navigation-->
<!--Main layout-->
<main style="margin-top: 58px;">
  <div class="container pt-4">
    <div class="row">
      <div class="col-md-8">
        <h1><b>Alessandro Ré</b></h1>
        <h4>Aspirante Backend Developer</h4>
        <br><br>
        <p>Sono un <strong>ragazzo</strong> di <strong><%= anni %></strong> anni, appassionato di <strong>programmazione</strong>. Il mio <strong>sogno</strong> sarebbe quello di <strong>lavorare in proprio</strong> e poi fondare una <strong>società</strong>!</p>
        <p>Il <strong>sito</strong> è fatto completamente in <strong>NodeJS</strong></p>
      </div>
      <div class="col-md-4 text-center">
        <img src="../images/profile.jpg" alt="Profile Picture" class="img-fluid rounded-circle">
      </div>
    </div>
    <div class="container mt-4">
      <h4>Le mie competenze (livello accademico):</h4>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Principiante</th>
            <th scope="col">Intermedio</th>
            <th scope="col">Avanzato</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% for(let i = 0; i < max; i++){ %>
            <th scope="row"></th>
              <td>
                <% if(competenze[0][i]){ %>
                <%= competenze[0][i].nome %>
                <% } else {} %>
              </td>
              <td>
                <% if(competenze[1][i]){ %>
                <%= competenze[1][i].nome %>
                <% } else {} %>
              </td>
              <td>
                <% if(competenze[2][i]){ %>
                <%= competenze[2][i].nome %>
                <% } else {} %>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
  </div>
</main>
<!--Main layout-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
