<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../images/logo-sito.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/home.css">
    <title>Privacy</title>
</head>
<body >
<div class="container-4 privacy-container">
  <h1>Privacy Policy per alessandrore</h1>
  <p>Presso alessandrore, accessibile da alessandrore.it, una delle nostre principali priorità è la privacy dei nostri visitatori. Questo documento sulla Privacy contiene tipi di informazioni che vengono raccolte e registrate da alessandrore e come le utilizziamo.</p>
  <p>Se hai domande aggiuntive o hai bisogno di ulteriori informazioni sulla nostra Politica sulla Privacy, non esitare a contattarci.</p>
  <h2>File di Registro</h2>
  <p>alessandrore segue una procedura standard nell'utilizzo dei file di registro. Questi file registrano i visitatori quando essi visitano siti web. Tutte le società di hosting lo fanno e fa parte dei servizi di analisi di hosting. Le informazioni raccolte dai file di registro includono gli indirizzi protocollo internet (IP), il tipo di browser, il provider di servizi internet (ISP), la data e l'ora, le pagine di riferimento/uscita e possibilmente il numero di clic. Queste informazioni non sono collegate a nessuna informazione personalmente identificabile. Lo scopo delle informazioni è quello di analizzare le tendenze, amministrare il sito, tracciare i movimenti degli utenti sul sito web e raccogliere informazioni demografiche. La nostra Politica sulla Privacy è stata creata con l'aiuto del <a href="https://www.privacypolicyonline.com/privacy-policy-generator/">Generatore di Politiche sulla Privacy</a>.</p>
  <h2>Politiche sulla Privacy</h2>
  <p>Puoi consultare questa lista per trovare la Politica sulla Privacy di ciascuno dei partner pubblicitari di alessandrore.</p>
  <p>I server di terze parti o le reti pubblicitarie utilizzano tecnologie come i cookie, JavaScript o i Web Beacon che vengono utilizzati nei rispettivi annunci e nei link che compaiono su alessandrore, e che vengono inviati direttamente al browser degli utenti. Ricevono automaticamente il tuo indirizzo IP quando ciò avviene. Queste tecnologie sono utilizzate per misurare l'efficacia delle loro campagne pubblicitarie e/o per personalizzare i contenuti pubblicitari che visualizzi sui siti web che visiti.</p>
  <p>Nota che alessandrore non ha accesso o controllo su questi cookie utilizzati da inserzionisti di terze parti.</p>
  <h2>Politiche sulla Privacy di Terze Parti</h2>
  <p>La Politica sulla Privacy di alessandrore non si applica ad altri inserzionisti o siti web. Pertanto, ti consigliamo di consultare le rispettive Politiche sulla Privacy di questi server pubblicitari di terze parti per informazioni più dettagliate. Potrebbe includere le loro pratiche e istruzioni su come optare per determinate opzioni.</p>
  <p>Puoi scegliere di disabilitare i cookie attraverso le opzioni del tuo browser individuale. Per conoscere informazioni più dettagliate sulla gestione dei cookie con browser web specifici, puoi trovarle sui rispettivi siti web dei browser. Cos'è un Cookie?</p>
  <h2>Informazioni per i Bambini</h2>
  <p>Un'altra parte delle nostre priorità è aggiungere protezione per i bambini nell'utilizzo di internet. Incoraggiamo i genitori e i tutori a osservare, partecipare e/o monitorare e guidare la loro attività online.</p>
  <p>alessandrore non raccoglie consapevolmente alcuna Informazione Personale Identificabile da bambini di età inferiore ai 13 anni. Se pensi che tuo figlio abbia fornito questo tipo di informazioni sul nostro sito web, ti incoraggiamo vivamente a contattarci immediatamente e faremo del nostro meglio per rimuovere prontamente tali informazioni dai nostri registri.</p>
  <h2>Solo Politica sulla Privacy Online</h2>
  <p>Questa Politica sulla Privacy si applica solo alle nostre attività online ed è valida per i visitatori del nostro sito web per quanto riguarda le informazioni che hanno condiviso e/o raccolto in alessandrore. Questa politica non è applicabile a nessuna informazione raccolta offline o tramite canali diversi da questo sito web.</p>
  <h2>Consenso</h2>
  <p>Utilizzando il nostro sito web, acconsenti alla nostra Politica sulla Privacy e accetti i suoi Termini e Condizioni.</p>

<a href="/home" class="list-group-item list-group-item-action py-2 ripple bg-dark text-white active">
    <i class="fas me-3"></i><span>Pagina principale</span>
  </a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>