<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta HTTP-EQUIV="refresh" CONTENT="15">
    <link rel="icon" type="image/x-icon" href="../images/logo-sito.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/home.css">
    <title>Privacy</title>
</head>
<body >
<div class="container-4 privacy-container">
  <h1>Privacy Policy per <strong>alessandrore.it</strong></h1>
  <p>Presso <strong>alessandrore.it</strong>, accessibile da alessandrore.it, una delle nostre principali priorità è la <strong>privacy</strong> dei nostri visitatori. Questo documento sulla <strong>Privacy</strong> contiene tipi di informazioni che vengono raccolte e registrate da <strong>alessandrore.it</strong> e come le utilizziamo.</p>
  <p>Se hai domande aggiuntive o hai bisogno di ulteriori informazioni sulla nostra <strong>Politica sulla Privacy</strong>, non esitare a contattarci.</p>
  <h2>File di Registro</h2>
  <p><strong>alessandrore.it</strong> segue una procedura standard nell'utilizzo dei <strong>file di registro</strong>. Questi file registrano i visitatori quando essi visitano siti web. Tutte le società di hosting lo fanno e fa parte dei servizi di analisi di hosting. Le informazioni raccolte dai <strong>file di registro</strong> includono gli indirizzi protocollo internet (<strong>IP</strong>), il tipo di browser, il provider di servizi internet (<strong>ISP</strong>), la data e l'ora, le pagine di riferimento/uscita e possibilmente il numero di clic. Queste informazioni non sono collegate a nessuna informazione personalmente identificabile. Lo scopo delle informazioni è quello di analizzare le tendenze, amministrare il sito, tracciare i movimenti degli utenti sul sito web e raccogliere informazioni demografiche. La nostra <strong>Politica sulla Privacy</strong> è stata creata con l'aiuto del <a href="https://www.privacypolicyonline.com/privacy-policy-generator/">Generatore di Politiche sulla Privacy</a>.</p>
  <h2><strong>Politiche sulla Privacy</strong></h2>
  <p>Puoi consultare questa lista per trovare la <strong>Politica sulla Privacy</strong> di ciascuno dei partner pubblicitari di <strong>alessandrore.it</strong>.</p>
  <p>I server di terze parti o le reti pubblicitarie utilizzano tecnologie come i <strong>cookie</strong>, <strong>JavaScript</strong> o i <strong>Web Beacon</strong> che vengono utilizzati nei rispettivi annunci e nei link che compaiono su <strong>alessandrore.it</strong>, e che vengono inviati direttamente al browser degli utenti. Ricevono automaticamente il tuo indirizzo <strong>IP</strong> quando ciò avviene. Queste tecnologie sono utilizzate per misurare l'efficacia delle loro campagne pubblicitarie e/o per personalizzare i contenuti pubblicitari che visualizzi sui siti web che visiti.</p>
  <p>Nota che <strong>alessandrore.it</strong> non ha accesso o controllo su questi <strong>cookie</strong> utilizzati da inserzionisti di terze parti.</p>
  <h2><strong>Politiche sulla Privacy</strong> di Terze Parti</h2>
  <p>La <strong>Politica sulla Privacy</strong> di <strong>alessandrore.it</strong> non si applica ad altri inserzionisti o siti web. Pertanto, ti consigliamo di consultare le rispettive <strong>Politiche sulla Privacy</strong> di questi server pubblicitari di terze parti per informazioni più dettagliate. Potrebbe includere le loro pratiche e istruzioni su come optare per determinate opzioni.</p>
  <p>Puoi scegliere di disabilitare i <strong>cookie</strong> attraverso le opzioni del tuo browser individuale. Per conoscere informazioni più dettagliate sulla gestione dei <strong>cookie</strong> con browser web specifici, puoi trovarle sui rispettivi siti web dei browser. Cos'è un <strong>Cookie</strong>?</p>
  <h2>Informazioni per i Bambini</h2>
  <p>Un'altra parte delle nostre priorità è aggiungere protezione per i bambini nell'utilizzo di internet. Incoraggiamo i genitori e i tutori a osservare, partecipare e/o monitorare e guidare la loro attività online.</p>
  <p><strong>alessandrore.it</strong> non raccoglie consapevolmente alcuna <strong>Informazione Personale Identificabile</strong> da bambini di età inferiore ai 13 anni. Se pensi che tuo figlio abbia fornito questo tipo di informazioni sul nostro sito web, ti incoraggiamo vivamente a contattarci immediatamente e faremo del nostro meglio per rimuovere prontamente tali informazioni dai nostri registri.</p>
  <h2>Solo <strong>Politica sulla Privacy</strong> Online</h2>
  <p>Questa <strong>Politica sulla Privacy</strong> si applica solo alle nostre attività online ed è valida per i visitatori del nostro sito web per quanto riguarda le informazioni che hanno condiviso e/o raccolto in <strong>alessandrore.it</strong>. Questa politica non è applicabile a nessuna informazione raccolta offline o tramite canali diversi da questo sito web.</p>
  <h2>Consenso</h2>
  <p>Utilizzando il nostro sito web, acconsenti alla nostra <strong>Politica sulla Privacy</strong> e accetti i suoi Termini e Condizioni.</p>
  

<a href="/home" class="list-group-item list-group-item-action py-2 ripple bg-dark text-white active">
    <i class="fas me-3"></i><span>Pagina principale</span>
  </a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>