body {
    background-color: blue;
    }
    @media (min-width: 991.98px) {
    main {
    padding-left: 300px;
    }
    }

    .privacy-container {
        padding: 30px
    }

    p{
        font-size: 22px
    }

    .last-item{
        border-bottom-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
    }

    .last-item.active{
        border-bottom-color: orange !important;
    }

    .bg-dark {
        --bs-bg-opacity: 1;
        /*background-color: black !important;*/ 
    }    
    
    .bg-darker {
        --bs-bg-opacity: 1;
        background-color: #171616
    }

    .container{
        padding: 10px
    }

    .list-group {
        --bs-list-group-active-bg: orange;
        --bs-list-group-active-border-color: orange;
    }

    .list-group-item .active{
        border: black
    }

    .list-group-item.active{
        border-top-color: white;
    }

    .logo{
        height: 50px;
        width: 80px;
        margin-left: 30%;
    }

    .table{
        width:50%
    }
    /* Sidebar */
    .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 20px 0 0; /* Height of navbar */
    box-shadow: 5px 2px 5px 0 rgb(0 0 0 / 5%), 5px 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    }
    
    @media (max-width: 991.98px) {
    .sidebar {
    width: 100%;
    }
    }
    .sidebar .active {
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }
    
    .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }

    .left-span{
        margin-left: 10%;
    }